*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/imgFundoHome.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1400px;
    margin: auto;
}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5s ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}