*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

body{
    background-color: #e5e5e5;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/imgFundoHome.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    /* border: 1px solid red; */
}

.animar{
    opacity: 0; /* Totalmente transparente */
    transform: translateY(20px); /* Desloca o elemento 20px para baixo (para o slide-up) */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Define a transição suave */
}

.animar.visivel{
    opacity: 1; /* Totalmente visível */
    transform: translateY(0); /* Volta para a posição original */
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1400px;
    margin: auto;
    /* border: 1px solid red; */
}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5s ease;
    font-size: 18px;
    text-decoration: none;
}
/* 
.btn:hover{
    background-color: #fff;
    color: #000;
} */

.sobreNos{
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    height: 70vh;
}

.sobreNos h2{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    color: #000;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.sobreNos p{
    font-size: 20px;
    background-color: #e5e5e5dc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 15px 10px;
}

.sobreNos .frase1{
    /* border: 1px solid blue; */
    width: 50%;
    margin-left: 5%;
    margin-top: 8vh;
    text-align: center;
    color: #333;
    transition: .5s ease;
}

.sobreNos .frase1:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.sobreNos .frase2{
    /* border: 1px solid blue; */
    width: 50%;
    margin-left: 45%;
    margin-top: 8vh;
    text-align: center;
    color: #333;
    transition: .5s ease;
}

.sobreNos .frase2:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.loginCad{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/imgFundoHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* border: 1px solid red; */
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
    text-align: center;
}

.loginCad .h1Part{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCad .h1Part h1{
    color: #fff;
    font-size: 36px;
}

.loginCad .loginCadPart{
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCad .loginCadPart a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 20px;
    margin: 0px 20px;
    transition: 0.5s ease;
}

.loginCad .loginCadPart a:hover{
    background-color: #fff;
    color: #000;
}

footer{
    background-color: #545454;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}